body {
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 15px;
}

button {
    background-color: #353535;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #353535;
}

.resultado {
    margin-top: 20px;
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    font-weight: bold;
}
