body {
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 15px;
}

button {
    background-color: #353535;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #353535;
}

.resultado {
    margin-top: 20px;
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.boton-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Hacer el botón redondo */
    font-size: 24px; /* Tamaño del ícono */
    text-decoration: none; /* Eliminar subrayado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.boton-inicio:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
    transform: scale(1.1); /* Aumentar tamaño al pasar el ratón */
}

p {
    font-weight: bold;
}
